@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);
 
.description{
    text-align:center;
    display:flexbox;
    flex-direction: column; 
    flex-wrap:wrap; 
    justify-content:space-evenly;
    align-items:baseline;
    padding-left: 16%;
    padding-right: 16%;
}

.navbar{
    position:relative;
    display: inline-flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;

}


        
        body{
                
            background: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Cristina_Fern%C3%A1ndez_junto_a_N%C3%A9stor_Kirchner_en_la_Plaza_de_Mayo_-_Junio_de_2008.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size:cover;



        
        
        }
        .logo{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            left: 75%;
            bottom:55%;
            width: 200px;
            
        }
        
       .usina{
           position:absolute;
           text-align: center;
           bottom:25%;

}

         .remove-bg{
            filter: brightness(-1.5);
            mix-blend-mode: multiply;
        }    
        
           
           .border-radius{
               border-radius: 500px;
           } 
       #insta{
           width: 50px;
           height: 50px;
       }
       #instagram{
           position: absolute;
        }
       
                      
       #twitter{
           position: absolute;

           }    
       #twit{
           width: 50px;
           height: 50px;
           
       }
 
.remove-bg2{
    filter: brightness(1);
    
}   
#facebook{
    position:absolute;
    
}    
#face{

    width: 50px;
    height: 50px;

}
#footer{
    position:absolute;
    top:100%;
    left:18%;
font-family: "caveat";
font-size: 20px;
color:whitesmoke;    
text-align: center;
}
@media all and (min-width:300px){
    .navbar{ 
        position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-top: 1%;
      
}
.logo{
    display:inline;
}
}
@media all and (max-width:600px){
    .navbar{
        position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;

    }
.logo{
    display: inline;
}    
    
}
@media only screen and (max-width:580px) and (min-width:380px){
    .navbar{
        position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction:row;
    padding-left: 1%;
    padding-top: 1%;

    }
    
    .description{
            text-align:center;
            display:flexbox;
            flex-direction: column; 
            flex-wrap:wrap; 
            justify-content:space-evenly;
            align-items:baseline;
            padding-left: 16%;
            padding-right: 16%;
    }
.logo{
    display:none;
}
}
@media only screen and (max-width:900px) and (min-width:601px){
    .navbar{
        position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;

}
.logo{
    display: inline;
}
} 
@media only screen and (max-width:820px) and (min-width:451px){
    .navbar{
        position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 1%;
    }
}
@media (min-width:900px){
    .navbar{
        position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;
    }
}
